torch>=2.0.0
torchvision
cupy-cuda12x
transformers
controlnet-aux==0.0.7
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pynvml
accelerate==1.8.1
deepspeed==0.17.1
peft==0.15.2
lightning==2.5.2
pandas==2.3.0
swanlab